<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mdjnu.leasing.mapper.UserExtendMapper" >
  <resultMap id="BaseResultMap" type="com.mdjnu.leasing.pojo.UserExtend" >
    <id column="user_extend_id" property="userExtendId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_address" property="userAddress" jdbcType="VARCHAR" />
    <result column="user_id_card" property="userIdCard" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_extend_id, user_id, user_address, user_id_card
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mdjnu.leasing.pojo.UserExtendExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user_extend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_extend
    where user_extend_id = #{userExtendId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_extend
    where user_extend_id = #{userExtendId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mdjnu.leasing.pojo.UserExtendExample" >
    delete from user_extend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mdjnu.leasing.pojo.UserExtend" >
    insert into user_extend (user_extend_id, user_id, user_address, 
      user_id_card)
    values (#{userExtendId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{userAddress,jdbcType=VARCHAR}, 
      #{userIdCard,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mdjnu.leasing.pojo.UserExtend" >
    insert into user_extend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userExtendId != null" >
        user_extend_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userAddress != null" >
        user_address,
      </if>
      <if test="userIdCard != null" >
        user_id_card,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userExtendId != null" >
        #{userExtendId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null" >
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userIdCard != null" >
        #{userIdCard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mdjnu.leasing.pojo.UserExtendExample" resultType="java.lang.Integer" >
    select count(*) from user_extend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_extend
    <set >
      <if test="record.userExtendId != null" >
        user_extend_id = #{record.userExtendId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userAddress != null" >
        user_address = #{record.userAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.userIdCard != null" >
        user_id_card = #{record.userIdCard,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_extend
    set user_extend_id = #{record.userExtendId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=VARCHAR},
      user_address = #{record.userAddress,jdbcType=VARCHAR},
      user_id_card = #{record.userIdCard,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mdjnu.leasing.pojo.UserExtend" >
    update user_extend
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null" >
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userIdCard != null" >
        user_id_card = #{userIdCard,jdbcType=VARCHAR},
      </if>
    </set>
    where user_extend_id = #{userExtendId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mdjnu.leasing.pojo.UserExtend" >
    update user_extend
    set user_id = #{userId,jdbcType=VARCHAR},
      user_address = #{userAddress,jdbcType=VARCHAR},
      user_id_card = #{userIdCard,jdbcType=VARCHAR}
    where user_extend_id = #{userExtendId,jdbcType=INTEGER}
  </update>
</mapper>